
* {
  box-sizing: border-box;
}

/* Changed to the custom font from google fonts */
body {
  font-family: Verdana, Arial !important;
  background-color: #f9fafb !important;
  text-align: center !important;
}

header {
  padding: 5px;
  color: white;
  text-align: center;
}

/* This heading is specifically for University homepage */
h2 {
  color: black;
  font-family: Verdana, Arial;
  font-size: 28px !important;
  font-weight: normal !important;
}

h3 {
  color: black;
  text-align: left;
  font-family: Verdana, Arial;
  font-size: 14px !important;
  font-weight: bold !important;
  margin: 0px !important;
  padding: 0px !important;
}

pre {
  color: #9a9a9a !important;
  text-align: left;
  font-family: Verdana !important;
  font-size: 14px !important;
  font-weight: bold !important;
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 5px !important;
}

p {
  color: black;
  text-align: left;
  font-family: Verdana, Arial;
  font-size: 14px !important;
  font-weight: normal !important;
  margin: 0px !important;
  padding: 0px !important;
}

span {
  display: block;
  color: black;
  font-size: 14px !important;
  font-family: Verdana, Arial;
  font-weight: normal !important;
  margin-bottom: 0px !important;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

.container-custom {
  margin: 0 24.5px;
  margin-top: 20px;
  padding: 0px 20px;
  padding-top: 60px;
}

.col-lg-4 img {
  width: 150px;
  height: 150px;
  border: solid 5px transparent;
  padding: 5px 5px;
  border-radius: 90px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/* Overlay Effect */
#overlay {
  position: fixed;
  overflow-y: scroll;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#myImage {
}

.row {
  margin: 0px !important;
  display: table;
}

hr {
  margin: 0px !important;
}

.bold {
  font-weight: bold;
}

.col-left {
  display: table-cell;
  width: 600px;
}
.col-right {
  display: table-cell;
  width: 335px;
  background-color: white;
  position: relative;
}

.panel-left {
  padding: 16px;
  padding-bottom: 16px;
  text-align: center;
  display: table-cell;
  width: 64px;
}

.panel-left img {
  display: inline-block;
  vertical-align:top;
  width: 32px;
  border-radius: 50%;
}
.panel-right {
  display: inline-block;
  vertical-align:top;
  padding-top: 16px;
  padding-right: 12px;
  display: table-cell;
  width: 271px;
  position: relative;
}

.panel-comments {
  background-color:inherit;
  display: block;
  width: 100%;
}

.panel-buttons {
  background-color: green;
  display: border-box;
  position: absolute;
  bottom: 0;
}

.col-buttons {
  width: 100%;
  background-color: blue;
  display: none;
  order: 3;
}

.container-panel {
  width: 935px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  margin: 0 auto;
}





/* Mobile */
@media only screen and (max-width: 425px) {

  span {
    display: none;
  }

  .col-lg-8{
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .row {
    width: 100%;
  }

  .col img {
    width: 293px;
    padding: 12px 0px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  hr {
    display: none !important;
  }

  .col-left {
    background-color: white;
    display: block;
    text-align: center;
    order: 2;
  }

  .col-left img {
    width: 268px;
    text-align: center;
  }

  .col-right {
    background-color: white;
    display: block;
    text-align: center !important;
    margin: 0 auto !important;
    width: 100%;
    order: 1;
  }

  .panel-buttons {
    display: none;
  }

  .panel-comments {
    display: none;
  }

  .panel-right {
    width: 200px;
  }

  .col-buttons {
    display: block;
  }

  .container-panel {
    position: fixed;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

/* Tablet */
@media only screen and (min-width: 426px) and (max-width: 960px) {

  .col-lg-8{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-right: 100px !important;
    padding-left: 20px !important;
  }

  .col-lg-4{
    padding-left: 45px !important;
  }

  .col img {
    width: 293px;
    padding: 12px 12px;
  }

  h2 {
    padding-bottom: 25px;
  }

}

/* Desktop */
@media only screen and (min-width: 961px) {

  .col-lg-8{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 60px;
    padding-right: 130px !important;
    padding-left: 40px !important;
  }

  .col-lg-4{
    padding-left: 45px !important;
  }

  .col img {
    width: 293px;
    padding: 10px 10px;
  }

  .container-custom {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    padding-bottom: 25px;
  }

}
